<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>userData</param-name>
        <param-value>/WEB-INF/data/userData.txt</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>web.InitializeUser</listener-class>
    </listener>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RegisterFormServlet</servlet-name>
        <servlet-class>view.RegisterFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSuccessServlet</servlet-name>
        <servlet-class>view.RegisterSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameVerificationServlet</servlet-name>
        <servlet-class>ajax.register.UsernameVerificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterFormServlet</servlet-name>
        <url-pattern>/RegisterFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSuccessServlet</servlet-name>
        <url-pattern>/RegisterSuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameVerificationServlet</servlet-name>
        <url-pattern>/UsernameVerificationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
